// base-font-family
$base-ff: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;

// color
$banner-color:#2d4f7c;
$word-color:#ACCADF;
$word-color-active:#F5FBFF;

// headerHeight
$headerHeight:50px;