// base-font-family
$base-ff: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;

// color
$banner-color:#2b4064;
$word-color:#ACCADF;
$word-color-active:#F5FBFF;

$back-gray:#ededed;
$title-back:#2c3049;

// headerHeight
$headerHeight:50px;