/**
 * variables
 */
/**
 * reset
 */
html {
  
  height: 100%; }

body {
  height: 100%;
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif; }

header, footer, div, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal; }

li {
  list-style-type: none; }

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif; }

/**
 * header
 */
header {
  height: 50px;
  line-height: 50px;
  background-color: #2b4064;
  font-size: 1.6rem;
  color: #ACCADF; }

.wrap {
  text-align: center; }
  .wrap span {
    margin: 0 30px;
    cursor: pointer; }
    .wrap span:hover {
      color: #F5FBFF; }
      
.header{
   background-color: #2D4F7B;
   width: 100%;
   height: 48px;
   text-align: center;
   position: relative;
   }

.header ul {
   /*  display: inline-block;
   list-style: none; */
    zoom:1;
    text-align: center;

   }
   .header ul li{
    list-style: none;
    padding: 0;
    margin: 0 5px; 
    display: inline-block;
   }
   
   .header a{
    text-decoration: none;
    /* display: block; */
    height: 48px;
    line-height: 48px;
    color: #8992A9;
    margin-bottom: 2px;
    /* text-indent: 20px; */
    /* text-align: center; */
   }
   .header .current a{ 
    color: #fff;
  }
  .header a:hover{
    background-color: #2D4E7C;
    color: #fff;
   }
/* 导航菜单响应式布局 */
@media screen and (max-width: 500px){
   .header{
    position: relative;
    
  }
  .header ul{
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    
    background: #2D4F7B url(../../icon/menu.png) no-repeat 20px 20px;
    

  }
  .header ul li{
    display: none;
    margin: 0;
    border-bottom: 1px solid #fff;
    border-width: 80%;
    border
    
  }
  .header .current{
    display: block;

  }
  .header a{
    display: block;
    
  }
  .header .current a{
    
    color: #fff;
  }
  .header ul:hover{
    background-image: none; 
  }
  .header ul:hover li{
    display: block;
    margin: 0 0 5px;
  }
  .header ul:hover .current { 
        background: #2D4F7B url(../../icon/check.png) no-repeat 20px 20px; 
    } 
  

}
 
   /* 导航栏三角形 */
 .arrow-up{
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #f00;
    
   }
   /* 主页图片列表 */
   .main{
    width: 100%;
    height: 100%;
    margin: 5px auto;
    position :relative;
    text-align: center;
   }
   @media screen and (min-width: 920px){
    .main .main-pic {
      width: 920px;
      
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -460px; 
     
   }
   }

   @media screen and (max-width: 919px){
    .main .main-pic {
     width: 610px;
    display: inline-block;
      
    }
   }
   @media screen and (max-width: 609px){
    .main .main-pic {
     width: 306px;
    display: inline-block;
      
    }
   }
   
   .main .main-pic .pic-area{
    
    float: left;
    margin: 0 0 5px 5px; 
    border-radius: 4px;
    
   }
   .main .pic-area img{
    width: 300px;
    height: 200px;
   }
