@charset "utf-8";

#G-lightbox-mask
    {position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    /* 兼容ie半透明 */
    filter：alpha(opacity=50);
    z-index: 1000;
    display: none;
    /* ie9以下半透明兼容性问题 */
     background: url(../../icon/opacity.png repeat left top);
}
#G-lightbox-popup{
    /* ie6不识别fixed */
    position: fixed;
    width: 400px;
   
    left: 50%;
    top: 50px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}

#G-lightbox-popup .lightbox-pic-view{
    position: relative;
    border: 5px solid #fff;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url(../../icon/loading.gif) no-repeat center center;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-btn{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
    background: url(../../icon/transparent.png repeat left top);
}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn{
    left: 0;
   
}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn{
    right: 0;
    
}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show{
     background: url(../../icon/prev.png) no-repeat left center;
     cursor: pointer;
}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show{
    background: url(../../icon/next.png) no-repeat right center;
    cursor: pointer;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-image{
    display: block; 

}
#G-lightbox-popup .lightbox-pic-caption{
    position: relative;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    margin: 0 5px;
    /* 要放在后面 */
    margin-top: -65px;
    background: url(../../icon/opacity.png repeat left top);
    font-size: 12px;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area{
    padding: 5px ;
    color: #fff;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-of-index{
    color:#999;
}
#G-lightbox-popup .lightbox-pic-caption .lightbox-btn-close {
    position: absolute;
    width: 27px;
    height: 27px;
    right: 10px;
    top: 13px;
    background: url(../../icon/close.png) no-repeat center center;
}